* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #142157;
    padding: 20px;
}

header .logo {
    float: left;
}

.container {
    display: flex;
}

.sidebar {
    width: 30%;
    background-color: #15297c;
    padding: 20px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.main-content {
    width: 70%;
    background-color: #2898ee;
    padding: 20px;
    color: white;
    text-align: center;
}

.main-content h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

.main-content .news-image {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

footer {
    background-color: #142157;
    padding: 20px;
    text-align: right;
    color: white;
}
